.Search {
  margin-bottom: 50px;
}

.TypeOfSearch {
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.SingleOfTypeSearch {
  line-height: 1;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
  position: relative;
  right: 7.5px;
}

.SingleOfTypeSearch span {
  cursor: pointer;
}

.SingleOfTypeSearch:last-of-type {
  margin-bottom: 0;
}

.SingleOfTypeSearch span.Active {
  color: #2bcf8a;
  font-weight: 700;
}

.ContentsOfSearch {
  text-align: center;
  width: calc(100% - 220px);
}

.FastSearch {
  width: 100%;
  padding-left: 15px;
}

.FastSearch .InputWrapper {
  margin-bottom: 15px;
}

.FastSearch .InputWrapper input {
  width: 100%;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  padding: 15px 20px;
  font-size: 1em;
  transition: 0.3s ease-in-out;
}

.FastSearch .InputWrapper input:focus {
  outline: none;
  border-color: rgba(24, 24, 24, 0.265);
}

.FastSearch .SingleButtonWrapper button {
  text-transform: capitalize;
}

.FullSearch {
  width: 100%;
  padding-left: 15px !important;
}

.FullSearch .Alert {
  border-radius: 5px;
  font-weight: 700;
  text-align: left;
  opacity: 0;
  visibility: hidden;
  padding: 0;
  margin-bottom: 0;
  transition: 0.3s ease-in-out;
}

.FullSearch .Alert.Active {
  opacity: 1;
  height: auto;
  visibility: visible;
  padding: 8px 15px;
  margin-bottom: 15px;
}

.FullSearch .Alert.Active.Danger {
  color: rgba(255, 0, 0, 0.5);
  background-color: rgba(255, 0, 0, 0.25);
}

.FullSearch .InputWrapper {
  margin-bottom: 15px;
}

.FullSearch .InputWrapper .InputSearch {
  max-width: calc(65% - 25px);
  -ms-flex: 0 0 calc(65% - 25px);
  -webkit-flex: 0 0 calc(65% - 25px);
  flex: 0 0 calc(65% - 25px);
  padding-left: 0 !important;
  padding-right: 7.5px;
  font-size: 1.2em;
}

.FullSearch .InputWrapper .InputSearch input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 14px 18px;
  font-size: 0.875em;
  transition: 0.3s ease-in-out;
}

.FullSearch .InputWrapper .InputSearch input:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: rgba(0, 0, 0, 0.3);
}

.FullSearch .InputWrapper .FilterBy {
  max-width: calc(35% - 25px);
  -ms-flex: 0 0 calc(35% - 25px);
  -webkit-flex: 0 0 calc(35% - 25px);
  flex: 0 0 calc(35% - 25px);
  padding-left: 7.5px;
  padding-right: 7.5px;
  text-align: left;
}

.FullSearch .InputWrapper .FilterBy select:focus {
  outline: none;
}

.FullSearch .InputWrapper .ActionButton {
  width: 50px;
  height: 47px;
  padding-left: 7.5px;
}

.FullSearch .InputWrapper .ActionButton .AddButton {
  cursor: pointer;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1;
  border-radius: 5px;
}

.FullSearch .InputWrapper .ActionButton .AddButton {
  color: rgba(0, 0, 255, 0.5);
  background-color: rgba(0, 0, 255, 0.2);
}

.FullSearch .ListOfSearch {
  margin-bottom: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-in-out;
}

.FullSearch .ListOfSearch.Active {
  margin-bottom: 15px;
  opacity: 1;
  visibility: visible;
}

.FullSearch .ListOfSearch .SingleOfSearch {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 7.5px 15px;
  position: relative;
}

.FullSearch .ListOfSearch .SingleOfSearch:not(:last-of-type) {
  margin-bottom: 5px;
}

.FullSearch .ListOfSearch .SingleOfSearch .InputSearchValue {
  margin-right: 15px;
}

.FullSearch .ListOfSearch .SingleOfSearch .FilterByValue {
  background-color: rgba(0, 0, 0, 0.125);
  color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 2px 15px;
}

.FullSearch .ListOfSearch .SingleOfSearch .RemoveList {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5em;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.FullSearch .ListOfSearch .SingleOfSearch .RemoveList:hover {
  color: rgba(0, 0, 0, 0.5);
}

.SingleButtonWrapper:nth-child(odd) {
  padding-right: 10px !important;
}

.SingleButtonWrapper:nth-child(even) {
  padding-left: 10px !important;
}

.SingleButtonWrapper button {
  width: 100%;
  height: 50px;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  font-size: 1em;
  transition: 0.4s ease-in-out;
}

.SingleButtonWrapper button span {
  margin-left: 8px;
}

/* PREVIEW */

.Preview .HeadDataAnggota {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.Preview .ResultData .bold {
  font-size: 1.2em;
  font-weight: 700;
}

.Preview .DisplayDataBy {
  display: flex;
  justify-content: space-between;
  width: 100px;
  font-size: 1.4em;
}

.Preview .ByGrid,
.Preview .ByList {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 12px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.4);
}

.Preview .ByGrid.Active,
.Preview .ByList.Active {
  color: #2bcf8a !important;
  border: 1px solid #2bcf8a !important;
  border-radius: 5px !important;
}

.Preview .BodyDataAnggota {
  padding-top: 15px;
  border-radius: 5px;
}

.Preview .GridPreview .SingleDataAnggota {
  margin-bottom: 15px;
  max-width: calc(100% / 12 * 2.4);
  -ms-flex: 0 0 calc(100% / 12 * 2.4);
  -webkit-flex: 0 0 calc(100% / 12 * 2.4);
  flex: 0 0 calc(100% / 12 * 2.4);
  border-radius: 5px;
}

.Preview .GridPreview .SingleDataAnggota:nth-child(5n + 1) {
  padding-right: 7.5px;
  padding-left: 15px;
}

.Preview .GridPreview .SingleDataAnggota:nth-child(5n + 2),
.Preview .GridPreview .SingleDataAnggota:nth-child(5n + 3),
.Preview .GridPreview .SingleDataAnggota:nth-child(5n + 4) {
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.Preview .GridPreview .SingleDataAnggota:nth-child(5n + 5) {
  padding-left: 7.5px;
  padding-right: 15px;
}

.Preview .GridPreview .BoxSingleDataAnggota {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100%;
  padding: 15px;
  line-height: 1.2;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.07);
}

.Preview .GridPreview .BoxSingleDataAnggota .PreviewDataAnggota {
  text-align: center;
}

.Preview .GridPreview .BoxSingleDataAnggota .BoxOverlay {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 5;
  opacity: 0;
  transform: scale(0.75);
  transition: 0.4s ease-in-out;
}

.Preview .GridPreview .BoxSingleDataAnggota:hover .BoxOverlay {
  opacity: 1;
  transform: scale(1);
}

.Preview .GridPreview .BoxSingleDataAnggota .BoxOverlay .ViewDetailButton {
  width: calc(100% - 40px);
  text-align: center;
  color: #fff;
  cursor: pointer;
  background-color: rgba(43, 207, 138, 0.8);
  padding: 15px;
  font-size: 1.1em;
  border-radius: 30px;
  transition: 0.4s ease-in-out;
}

.Preview
  .GridPreview
  .BoxSingleDataAnggota
  .BoxOverlay
  .ViewDetailButton:hover {
  background-color: rgba(43, 207, 138, 1);
}

.Preview .GridPreview .BoxSingleDataAnggota .Foto {
  line-height: 1;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 18px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-size: cover;
}

.Preview .GridPreview .BoxSingleDataAnggota .Nama {
  letter-spacing: 1;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 7px;
}

.Preview .GridPreview .BoxSingleDataAnggota .NoKTA {
  padding: 9px;
  margin-bottom: 14px;
  border-radius: 5px;
  font-size: 0.9em;
}

.Preview .GridPreview .BoxSingleDataAnggota .Jabatan {
  letter-spacing: 0.025em;
  margin-bottom: 11px;
}

.Preview .GridPreview .BoxSingleDataAnggota .Wilayah {
  margin-bottom: -3px;
}

.Preview .ListPreview .SingleDataAnggota {
  margin: 5px 20px 20px;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  width: 100%;
  line-height: 1.2;
}

.Preview .ListPreview .SingleDataAnggota .Photo {
  background-size: cover;
  width: 200px;
  height: 200px;
  margin-right: 20px;
  border-radius: 5px;
}

.Preview .ListPreview .SingleDataAnggota .InfoAnggota {
  width: calc(100% - 480px);
}

.Preview .ListPreview .SingleDataAnggota .InfoAnggota .Name {
  text-transform: uppercase;
  font-size: 1.5em;
  margin-bottom: 15px;
}

.Preview .ListPreview .SingleDataAnggota .InfoAnggota .NoKTA {
  padding: 14px;
  display: inline-block;
  border-radius: 5px;
  margin-bottom: 33px;
}

.Preview .ListPreview .SingleDataAnggota .InfoAnggota .Jabatan {
  margin-bottom: 9px;
  font-size: 1.1em;
}

.Preview .ListPreview .SingleDataAnggota .Wilayah {
  font-size: 1.1em;
}

.Preview .ListPreview .SingleDataAnggota .AdditionalInfo {
  width: 250px;
  margin-left: 15px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Preview .ListPreview .SingleDataAnggota .AdditionalInfo .ViewDetailButton {
  width: calc(100% - 40px);
  position: relative;
  left: 10px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  background-color: rgba(43, 207, 138, 0.8);
  padding: 15px;
  font-size: 1.1em;
  border-radius: 30px;
  transition: 0.4s ease-in-out;
}

.Preview
  .ListPreview
  .SingleDataAnggota
  .AdditionalInfo
  .ViewDetailButton:hover {
  background-color: rgba(43, 207, 138, 1);
}

/* DETAIL */

.Detail {
  width: 575px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.Detail .box-anggota {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Detail .anggota-close {
  position: absolute;
  position: fixed;
  z-index: 1000;
  top: 50%;
  right: 575px;
  transform: translate(50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffb2b2;
  color: #ff4747;
  cursor: pointer;
  border: 2px solid #fff;
}

.Detail .close-icon {
  transition: 0.4s ease-in-out;
  line-height: 1;
  font-size: 0.8em;
  font-weight: 400;
}

.Detail .anggota-close:hover .close-icon {
  transform: rotate(180deg);
}

.Detail .anggota-photo {
  width: 150px;
  height: 150px;
  margin: 30px auto 0;
  margin-bottom: -7px;
  border-radius: 50%;
  overflow: hidden;
}

.Detail .anggota-atribute {
  margin: 30px auto;
  margin-bottom: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Detail .Name {
  font-weight: 700;
  margin-bottom: 4px;
}

.Detail .NoKTA {
  margin-bottom: 9px;
  padding: 5px 12px 5px 12px;
  border-radius: 0.5em;
  font-size: 0.9em;
}

.Detail .Wilayah {
  margin-top: 2px;
}

.Detail .menu-wrap {
  padding: 0;
  width: 100%;
  display: flex;
}

.Detail .menu {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
}

.Detail .menu.active {
  color: #2bcf8a;
  font-weight: 700;
  border-bottom-color: #2bcf8a;
}

.Detail .menu {
  width: 100%;
  display: inline-block;
  text-align: center;
  padding-bottom: 17px;
  font-weight: 400;
  border-bottom: 2px solid rgba(0, 0, 0, 0.068);
}

.Detail .menu:nth-child(1) {
  border-right: 1px solid rgba(0, 0, 0, 0.068);
}

.Detail .menu:nth-child(2) {
  border-left: 1px solid rgba(0, 0, 0, 0.068);
}

.Detail .menu > span {
  cursor: pointer;
}

/* Content */

.Detail .box-content {
  margin-top: -8px;
  padding-bottom: 23px;
}

.Detail .box-item {
  margin: 6px 0;
  line-height: 1.3;
}

.Detail .box-item fieldset {
  height: 100%;
  border-radius: 0.5em;
  padding-bottom: 25px;
}

.Detail .box-item:nth-child(odd) {
  padding-left: 20px;
  padding-right: 10px;
}

.Detail .box-item:nth-child(even) {
  padding-right: 20px;
  padding-left: 10px;
}

.Detail .box-item fieldset span {
  padding-top: 1px;
  display: inline-block;
}

.Detail .box-item > div {
  width: 100%;
}

.Detail .label {
  padding: 10px;
  margin: 5px;
  line-height: 5px;
  text-transform: uppercase;
}
