.Search {
  margin-bottom: 50px;
  margin-right: -20px;
}

.TypeOfSearch {
	border-right: 2px solid rgba(0, 0, 0, 0.1);
}

.SingleOfTypeSearch {
	line-height: 1;
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
}

.SingleOfTypeSearch:last-of-type {
	margin-bottom: 0;
}

.SingleOfTypeSearch.Active {
	color: #2bcf8a;
}

.ContentsOfSearch {
	text-align: center;
}

.FastSearch {
	width:100%;
	padding-left: 20px;
}

.InputWrapper {
	margin-bottom: 20px;
}

.InputWrapper input {
	width: 100%;
	border-radius: 5px;
	border: 1px solid #ddd;
	padding: 15px 20px;
	font-size: 1em;
	transition: 0.3s ease-in-out;
}

.InputWrapper input:focus {
	outline: none;
	border-color: #2bcf8a;
}

.SingleButtonWrapper:nth-child(odd) {
	padding-right: 10px !important;
}

.SingleButtonWrapper:nth-child(even) {
	padding-left: 10px !important;
}

.SingleButtonWrapper button {
	width: 100%;
	height: 50px;
	cursor: pointer;
	border: 0;
	border-radius: 5px;
	color: #fff;
	font-size: 1em;
	transition: 0.4s ease-in-out;
}

.SingleButtonWrapper button span {
	margin-left: 8px;
}

.SearchButton {
	background-color: rgba(0, 0, 0, 0.5);
}

.ClearButton {
	background-color: rgba(255, 0, 0, 0.75);
}

.SearchButton:hover {
	background-color: rgba(0, 0, 0, 0.4);
}

.ClearButton:hover {
	background-color: rgba(255, 0, 0, 0.6);
}

.HeadDataAnggota {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 50px;
}

.ResultData .bold {
	font-size: 1.2em;
	font-weight: 700;
	color: #333;
}

.DisplayDataBy {
	display: flex;
	justify-content: space-between;
	width: 90px;
	font-size: 1.4em;
}

.ByGrid,
.ByList {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 12px;
	cursor: pointer;
}

.ByGrid.Active,
.ByList.Active {
	color: #2bcf8a;
	border: 1px solid #2bcf8a;
	border-radius: 5px;
}

.ByGrid.Active {
	margin-right: 5px;
}

.ByList.Active {
	margin-left: 5px;
}

.BodyDataAnggota {
	background-color: #f2f2f2;
	border-radius: 5px;
	padding-top: 20px;
}

.SingleDataAnggota {
	margin-bottom: 20px;
}

.SingleDataAnggota:nth-child(4n + 1) {
	padding-right: 10px;
	padding-left: 20px;
}

.SingleDataAnggota:nth-child(4n + 2) {
	padding-left: 10px;
	padding-right: 10px;
}

.SingleDataAnggota:nth-child(4n + 3) {
	padding-left: 10px;
	padding-right: 10px;
}

.SingleDataAnggota:nth-child(4n + 4) {
	padding-right: 20px;
	padding-left: 10px;
}

.BoxSingleDataAnggota {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	height: 100%;
	background-color: #fff;
	padding: 20px;
	line-height: 1.2;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.07);
}

.BoxSingleDataAnggota .PreviewDataAnggota {
	text-align: center;
}

.BoxSingleDataAnggota .BoxOverlay {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(255, 255, 255, 0.75);
	z-index: 5;
	opacity: 0;
	transform: scale(0.75);
	transition: 0.4s ease-in-out;
}

.BoxSingleDataAnggota:hover .BoxOverlay {
	opacity: 1;
	transform: scale(1.0);
}

.BoxSingleDataAnggota .BoxOverlay .ViewDetailButton {
	width: calc(100% - 40px);
	text-align: center;
	color: #fff;
	cursor: pointer;
	background-color: rgba(43, 207, 138, 0.8);
	padding: 15px;
	font-size: 1.1em;
	border-radius: 30px;
	transition: 0.4s ease-in-out;
}

.BoxSingleDataAnggota .BoxOverlay .ViewDetailButton:hover {
	background-color: rgba(43, 207, 138, 1);
}

.BoxSingleDataAnggota .Foto {
	line-height: 1;
	margin-bottom: 17px;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-size: cover;
}

.BoxSingleDataAnggota .Nama {
	font-weight: 700;
	color: #2bcf8a;
	text-transform: uppercase;
	margin-bottom: 6px;
}

.BoxSingleDataAnggota .NoKTA {
	padding: 9px 9px 7px;
	background-color: rgba(0, 0, 0, 0.1);
	margin-bottom: 16px;
	border-radius: 5px;
	color: #666;
	font-size: 0.9em;
}

.BoxSingleDataAnggota .Jabatan {
	color: rgba(0, 0, 0, .45);
	letter-spacing: 0.025em;
	margin-bottom: 13px;
}

.BoxSingleDataAnggota .Wilayah {
	color: #333;
	margin-bottom: -3px;
}