.HeadContent {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 70px;
  overflow: hidden;
}

.InnerTopHead {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.MenuButtonToggle {
  width: 35px;
  height: 23px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  cursor: pointer;
}

.MenuButtonToggle span {
  width: 100%;
  height: 1px;
  display: block;
}

.UserArea {
  line-height: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.UserArea .UserPhoto {
  display: inline-block;
  margin-right: 9px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-size: cover;
  position: relative;
}

.UserArea .UserPhoto:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #fff;
  background-color: #42b72a;
}

.UserArea .Username {
  display: inline-block;
  position: relative;
  padding-right: 15px;
}

.UserArea .Username:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 7px solid #fff;
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.UserAction {
  position: absolute;
  right: 15px;
  top: 65px;
  width: 200px;
  padding: 15px 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  z-index: 1000;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-15px);
  transition: 0.5s ease-in-out;
}

.UserAction:after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 12px solid #fff;
  position: absolute;
  top: -12px;
  right: 30px;
}

.UserAction.Active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.UserAction .Photo {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-size: cover;
  margin-bottom: 9px;
  position: relative;
}

.UserAction .Photo:after {
  content: "";
  width: 15px;
  height: 15px;
  display: block;
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: #42b72a;
  position: absolute;
  right: 4px;
  bottom: 4px;
}

.UserAction > .Name {
  text-transform: uppercase;
  margin-bottom: 7px;
  font-weight: 700;
}

.UserAction .Level {
  text-transform: capitalize;
  font-size: 0.9em;
  padding: 7px 9px;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  line-height: 1;
  margin-bottom: 15px;
}

.UserAction .GoToWrapper {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
}

.UserAction .GoToWrapper .GoTo {
  line-height: 1;
  margin-left: -15px;
  margin-right: -15px;
  padding: 15px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.UserAction .GoToWrapper .GoTo:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.UserAction .GoToWrapper .GoTo:last-of-type {
  margin-bottom: 0;
}

.UserAction .GoToWrapper .Icon {
  margin-right: 11px;
}

.UserAction .GoToWrapper .GoTo .Name {
  margin-top: 5px;
  text-transform: capitalize;
}

.UserAction .GoToWrapper .GoTo.Logout {
  color: rgba(255, 0, 0, 0.65);
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  padding: 0;
}

.UserAction .GoToWrapper .GoTo.Logout a {
  display: block;
  padding: 15px;
}

.PopupMyProfile .MyProfile {
  width: 470px;
  padding: 15px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 5px;
}

.PopupMyProfile .MyProfile .Head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1;
  margin: -15px;
  padding: 15px 15px 13px;
  background-color: rgba(0, 0, 0, 0.05);
}

.PopupMyProfile .MyProfile .Head h5,
.PopupMyProfile .MyProfile .Head .CloseIcon {
  font-weight: 400;
}

.PopupMyProfile .MyProfile .Head h5 span {
  margin-left: 12px;
}

.PopupMyProfile .MyProfile .Head .CloseIcon {
  font-size: 1.35em;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.PopupMyProfile .MyProfile .Head .CloseIcon:hover {
  transform: rotate(90deg);
}

.PopupMyProfile .MyProfile .Body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-left: -15px;
  margin-right: -15px;
}

.PopupMyProfile .MyProfile .Body .UserPhotoArea {
  width: 100%;
  padding-top: 30px;
  background-color: #2bcf8a;
}

.PopupMyProfile .MyProfile .Body .UserPhotoArea .UserPhoto {
  width: 120px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  background-size: cover;
  position: relative;
  margin-bottom: 32px;
}

.PopupMyProfile .MyProfile .Body .UserPhotoArea .UserPhoto .ChangeUserPhoto {
  position: absolute;
  right: 2px;
  bottom: 2px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  background-color: #fff;
  color: #2bcf8a;
  border: 2px solid #2bcf8a;
  cursor: pointer;
}

.PopupMyProfile .MyProfile .Body .Tab {
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.PopupMyProfile .MyProfile .Body .Tab .SingleTabWrapper {
  width: 50%;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 7px;
  background-color: #2bcf8a;
  cursor: pointer;
  pointer-events: auto;
}

.PopupMyProfile .MyProfile .Body .Tab .SingleTabWrapper.Active {
  background-color: #fff;
}

.PopupMyProfile .MyProfile .Body .Tab .SingleTabWrapper:first-of-type.Active {
  border-top-right-radius: 5px !important;
}

.PopupMyProfile .MyProfile .Body .Tab .SingleTabWrapper:last-of-type.Active {
  border-top-left-radius: 5px !important;
}

.PopupMyProfile .MyProfile .Body .Tab .SingleTabWrapper.Active .SingleTab {
  color: #2bcf8a;
  font-weight: 700;
}

.PopupMyProfile .MyProfile .Body .Tab .SingleTabWrapper .SingleTab {
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
}

.PopupMyProfile .MyProfile .Content {
  position: relative;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.PopupMyProfile .MyProfile .InfoProfile,
.PopupMyProfile .MyProfile .EditProfile {
  opacity: 0;
  visibility: hidden;
  display: none;
}

.PopupMyProfile .MyProfile .InfoProfile.Active,
.PopupMyProfile .MyProfile .EditProfile.Active {
  opacity: 1;
  visibility: visible;
  display: block;
}

.PopupMyProfile .MyProfile .InfoProfile .InfoWrapper,
.PopupMyProfile .MyProfile .EditProfile .InfoWrapper {
  width: 100%;
}

.PopupMyProfile .MyProfile .InfoProfile .InfoWrapper .SingleInfo .InfoTitle,
.PopupMyProfile .MyProfile .InfoProfile .InfoWrapper .SingleInfo .InfoValue,
.PopupMyProfile .MyProfile .EditProfile .InfoWrapper .SingleInfo .InfoTitle,
.PopupMyProfile .MyProfile .EditProfile .InfoWrapper .SingleInfo .InfoValue,
.PopupMyProfile .MyProfile .EditProfile .InfoWrapper .SingleInfo .SubmitArea {
  padding-top: 9px;
  padding-bottom: 9px;
}

.PopupMyProfile .MyProfile .InfoProfile .InfoWrapper .SingleInfo .InfoTitle,
.PopupMyProfile .MyProfile .EditProfile .InfoWrapper .SingleInfo .InfoTitle {
  padding-right: 7.5px;
}

.PopupMyProfile .MyProfile .InfoProfile .InfoWrapper .SingleInfo .InfoValue,
.PopupMyProfile .MyProfile .EditProfile .InfoWrapper .SingleInfo .InfoValue {
  padding-left: 7.5px;
  color: rgba(0, 0, 0, 0.5);
}

.PopupMyProfile .MyProfile .EditProfile .InfoWrapper .SingleInfo .InfoValue input[type="text"],
.PopupMyProfile .MyProfile
  .EditProfile
  .InfoWrapper
  .SingleInfo
  .InfoValue
  input[type="password"] {
  width: 100%;
  border-radius: 5px;
  padding: 6px;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.PopupMyProfile .MyProfile .EditProfile .InfoWrapper .SingleInfo .InfoValue input#level {
  cursor: not-allowed;
  background-color: rgba(0, 0, 0, 0.1);
}

.PopupMyProfile .MyProfile
  .EditProfile
  .InfoWrapper
  .SingleInfo
  .InfoValue
  input[type="text"]::-moz-focus-inner,
.PopupMyProfile .MyProfile
  .EditProfile
  .InfoWrapper
  .SingleInfo
  .InfoValue
  input[type="password"]::-moz-focus-inner,
.PopupMyProfile .MyProfile
  .InfoProfile
  .InfoWrapper
  .SingleInfo
  .InfoValue
  input[type="checkbox"]:focus,
.PopupMyProfile .MyProfile
  .EditProfile
  .InfoWrapper
  .SingleInfo
  .InfoValue
  input[type="checkbox"]:focus {
  outline: none !important;
  box-shadow: none !important;
}

.PopupMyProfile .MyProfile
  .EditProfile
  .InfoWrapper
  .SingleInfo
  .InfoValue
  input[type="text"]:focus,
.PopupMyProfile .MyProfile
  .EditProfile
  .InfoWrapper
  .SingleInfo
  .InfoValue
  input[type="password"]:focus {
  outline: none !important;
  box-shadow: none !important;
}

.PopupMyProfile .MyProfile .InfoProfile .InfoWrapper .SingleInfo .PasswordValue,
.PopupMyProfile .MyProfile .EditProfile .InfoWrapper .SingleInfo .PasswordValue {
  margin-bottom: 5px;
  border: 0;
}

.PopupMyProfile .MyProfile .InfoProfile .InfoWrapper .SingleInfo .InfoValue #InfoUserTampilkanKataSandi,
.PopupMyProfile .MyProfile .EditProfile .InfoWrapper .SingleInfo .InfoValue #EditUserTampilkanKataSandi {
  margin-right: 6px;
}

.PopupMyProfile .MyProfile .EditProfile .InfoWrapper .SingleInfo .SubmitArea .saveButton {
  width: 120px;
  height: 40px;
  text-align: center;
  border-radius: 5px;
  border: 0;
  color: #fff;
  background-color: rgba(43, 207, 138, 0.8);
  cursor: pointer;
  font-size: 1em;
  transition: 0.4s ease-in-out;
}

.PopupMyProfile .MyProfile .EditProfile .InfoWrapper .SingleInfo .SubmitArea .saveButton:hover {
  background-color: rgba(43, 207, 138, 1);
}

.PopupMyProfile .MyProfile .EditProfile .InfoWrapper .SingleInfo .SubmitArea .saveButton span {
  margin-left: 7px;
}

.Separator {
  width: 100%;
  height: 2px;
  margin-bottom: 25px;
}

.BodyHeadContent {
  text-align: center;
  margin-bottom: 25px;
}

.BodyHeadContent h4 {
  font-weight: 400;
  text-transform: uppercase;
}
