.HeadContent {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 70px;
  overflow: hidden;
}

.InnerTopHead {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.MenuButtonToggle {
  width: 35px;
  height: 23px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  cursor: pointer;
}

.MenuButtonToggle span {
  width: 100%;
  height: 1px;
  display: block;
}

.Separator {
  width: 100%;
  height: 2px;
  margin-bottom: 18px;
}

.BodyHeadContent {
  text-align: center;
  margin-bottom: 20px;
}

.BodyHeadContent h4 {
  font-weight: 400;
  text-transform: uppercase;
}
