.MainContent {
  position: absolute;
  width: calc(100% - 250px);
  left: 250px;
  top: 0;
  background-color: #f2f2f2;
  transition: 0.4s ease-in-out;
}

.MainContent.Full {
  left: 0;
  width: 100%;
}
