.HeadSidebar {
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.brand {
  font-weight: 400;
  color: #2bcf8a;
  text-transform: capitalize;
}
