.container{
    width: 300px;
    height: 100%;
    overflow-y: auto;
    position: fixed;
    z-index: 99;
    right: 0;
    top: 0;
}

.box-menu ul{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.box-user{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.user-close{
    position: absolute;
    transform: translate(10px, 10px);
}

.user-photo{
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 50%;
    margin-top: 25px;
    overflow: hidden;
}

.user-atribute{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

