.App {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
  background-color: #b71c1c;
  color: #444;
}

.App * {
  font-family: "Roboto", Arial, sans-serif;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.35em;
  letter-spacing: 0;
  margin: 0;
}

h1 {
  font-size: 2.488em;
}

h2 {
  font-size: 2.074em;
}

h3 {
  font-size: 1.728em;
}

h4 {
  font-size: 1.44em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1em;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a,
a:focus,
a::-moz-focus-inner {
  border: 0;
  outline: none;
}

input[type="checkbox" i] {
  margin: 0;
}

.full-overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.65);
  transition: 0.4s ease-in-out;
}

.full-overlay.Active {
  opacity: 1;
  z-index: 20;
  visibility: visible;
}

input:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: rgba(0, 0, 0, 0.3);
}
