.container {
  width: 100%;
  position: relative;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.no-gutters {
  margin-left: 0;
  margin-right: 0;
}

.no-gutters > [class*="column-"] {
  padding-left: 0;
  padding-right: 0;
}

.column-1,
.column-2,
.column-3,
.column-4,
.column-5,
.column-6,
.column-7,
.column-8,
.column-9,
.column-10,
.column-11,
.column-12,
.column-s-1,
.column-s-2,
.column-s-3,
.column-s-4,
.column-s-5,
.column-s-6,
.column-s-7,
.column-s-8,
.column-s-9,
.column-s-10,
.column-s-11,
.column-s-12,
.column-m-1,
.column-m-2,
.column-m-3,
.column-m-4,
.column-m-5,
.column-m-6,
.column-m-7,
.column-m-8,
.column-m-9,
.column-m-10,
.column-m-11,
.column-m-12,
.column-l-1,
.column-l-2,
.column-l-3,
.column-l-4,
.column-l-5,
.column-l-6,
.column-l-7,
.column-l-8,
.column-l-9,
.column-l-10,
.column-l-11,
.column-l-12,
.column-xl-1,
.column-xl-2,
.column-xl-3,
.column-xl-4,
.column-xl-5,
.column-xl-6,
.column-xl-7,
.column-xl-8,
.column-xl-9,
.column-xl-10,
.column-xl-11,
.column-xl-12 {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

.column-1 {
  max-width: calc(100% / 12 * 1);
  -ms-flex: 0 0 calc(100% / 12 * 1);
  -webkit-flex: 0 0 calc(100% / 12 * 1);
  flex: 0 0 calc(100% / 12 * 1);
}

.column-2 {
  max-width: calc(100% / 12 * 2);
  -ms-flex: 0 0 calc(100% / 12 * 2);
  -webkit-flex: 0 0 calc(100% / 12 * 2);
  flex: 0 0 calc(100% / 12 * 2);
}

.column-3 {
  max-width: calc(100% / 12 * 3);
  -ms-flex: 0 0 calc(100% / 12 * 3);
  -webkit-flex: 0 0 calc(100% / 12 * 3);
  flex: 0 0 calc(100% / 12 * 3);
}

.column-4 {
  max-width: calc(100% / 12 * 4);
  -ms-flex: 0 0 calc(100% / 12 * 4);
  -webkit-flex: 0 0 calc(100% / 12 * 4);
  flex: 0 0 calc(100% / 12 * 4);
}

.column-5 {
  max-width: calc(100% / 12 * 5);
  -ms-flex: 0 0 calc(100% / 12 * 5);
  -webkit-flex: 0 0 calc(100% / 12 * 5);
  flex: 0 0 calc(100% / 12 * 5);
}

.column-6 {
  max-width: calc(100% / 12 * 6);
  -ms-flex: 0 0 calc(100% / 12 * 6);
  -webkit-flex: 0 0 calc(100% / 12 * 6);
  flex: 0 0 calc(100% / 12 * 6);
}

.column-7 {
  max-width: calc(100% / 12 * 7);
  -ms-flex: 0 0 calc(100% / 12 * 7);
  -webkit-flex: 0 0 calc(100% / 12 * 7);
  flex: 0 0 calc(100% / 12 * 7);
}

.column-8 {
  max-width: calc(100% / 12 * 8);
  -ms-flex: 0 0 calc(100% / 12 * 8);
  -webkit-flex: 0 0 calc(100% / 12 * 8);
  flex: 0 0 calc(100% / 12 * 8);
}

.column-9 {
  max-width: calc(100% / 12 * 9);
  -ms-flex: 0 0 calc(100% / 12 * 9);
  -webkit-flex: 0 0 calc(100% / 12 * 9);
  flex: 0 0 calc(100% / 12 * 9);
}

.column-10 {
  max-width: calc(100% / 12 * 10);
  -ms-flex: 0 0 calc(100% / 12 * 10);
  -webkit-flex: 0 0 calc(100% / 12 * 10);
  flex: 0 0 calc(100% / 12 * 10);
}

.column-11 {
  max-width: calc(100% / 12 * 11);
  -ms-flex: 0 0 calc(100% / 12 * 11);
  -webkit-flex: 0 0 calc(100% / 12 * 11);
  flex: 0 0 calc(100% / 12 * 11);
}

.column-12 {
  max-width: 100%;
  -ms-flex: 0 0 100%;
  -webkit-flex: 0 0 100%;
  flex: 0 0 100%;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }

  .column-s-1 {
    max-width: calc(100% / 12 * 1);
    -ms-flex: 0 0 calc(100% / 12 * 1);
    -webkit-flex: 0 0 calc(100% / 12 * 1);
    flex: 0 0 calc(100% / 12 * 1);
  }

  .column-s-2 {
    max-width: calc(100% / 12 * 2);
    -ms-flex: 0 0 calc(100% / 12 * 2);
    -webkit-flex: 0 0 calc(100% / 12 * 2);
    flex: 0 0 calc(100% / 12 * 2);
  }

  .column-s-3 {
    max-width: calc(100% / 12 * 3);
    -ms-flex: 0 0 calc(100% / 12 * 3);
    -webkit-flex: 0 0 calc(100% / 12 * 3);
    flex: 0 0 calc(100% / 12 * 3);
  }

  .column-s-4 {
    max-width: calc(100% / 12 * 4);
    -ms-flex: 0 0 calc(100% / 12 * 4);
    -webkit-flex: 0 0 calc(100% / 12 * 4);
    flex: 0 0 calc(100% / 12 * 4);
  }

  .column-s-5 {
    max-width: calc(100% / 12 * 5);
    -ms-flex: 0 0 calc(100% / 12 * 5);
    -webkit-flex: 0 0 calc(100% / 12 * 5);
    flex: 0 0 calc(100% / 12 * 5);
  }

  .column-s-6 {
    max-width: calc(100% / 12 * 6);
    -ms-flex: 0 0 calc(100% / 12 * 6);
    -webkit-flex: 0 0 calc(100% / 12 * 6);
    flex: 0 0 calc(100% / 12 * 6);
  }

  .column-s-7 {
    max-width: calc(100% / 12 * 7);
    -ms-flex: 0 0 calc(100% / 12 * 7);
    -webkit-flex: 0 0 calc(100% / 12 * 7);
    flex: 0 0 calc(100% / 12 * 7);
  }

  .column-s-8 {
    max-width: calc(100% / 12 * 8);
    -ms-flex: 0 0 calc(100% / 12 * 8);
    -webkit-flex: 0 0 calc(100% / 12 * 8);
    flex: 0 0 calc(100% / 12 * 8);
  }

  .column-s-9 {
    max-width: calc(100% / 12 * 9);
    -ms-flex: 0 0 calc(100% / 12 * 9);
    -webkit-flex: 0 0 calc(100% / 12 * 9);
    flex: 0 0 calc(100% / 12 * 9);
  }

  .column-s-10 {
    max-width: calc(100% / 12 * 10);
    -ms-flex: 0 0 calc(100% / 12 * 10);
    -webkit-flex: 0 0 calc(100% / 12 * 10);
    flex: 0 0 calc(100% / 12 * 10);
  }

  .column-s-11 {
    max-width: calc(100% / 12 * 11);
    -ms-flex: 0 0 calc(100% / 12 * 11);
    -webkit-flex: 0 0 calc(100% / 12 * 11);
    flex: 0 0 calc(100% / 12 * 11);
  }

  .column-s-12 {
    max-width: 100%;
    -ms-flex: 0 0 100%;
    -webkit-flex: 0 0 100%;
    flex: 0 0 100%;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .column-m-1 {
    max-width: calc(100% / 12 * 1);
    -ms-flex: 0 0 calc(100% / 12 * 1);
    -webkit-flex: 0 0 calc(100% / 12 * 1);
    flex: 0 0 calc(100% / 12 * 1);
  }

  .column-m-2 {
    max-width: calc(100% / 12 * 2);
    -ms-flex: 0 0 calc(100% / 12 * 2);
    -webkit-flex: 0 0 calc(100% / 12 * 2);
    flex: 0 0 calc(100% / 12 * 2);
  }

  .column-m-3 {
    max-width: calc(100% / 12 * 3);
    -ms-flex: 0 0 calc(100% / 12 * 3);
    -webkit-flex: 0 0 calc(100% / 12 * 3);
    flex: 0 0 calc(100% / 12 * 3);
  }

  .column-m-4 {
    max-width: calc(100% / 12 * 4);
    -ms-flex: 0 0 calc(100% / 12 * 4);
    -webkit-flex: 0 0 calc(100% / 12 * 4);
    flex: 0 0 calc(100% / 12 * 4);
  }

  .column-m-5 {
    max-width: calc(100% / 12 * 5);
    -ms-flex: 0 0 calc(100% / 12 * 5);
    -webkit-flex: 0 0 calc(100% / 12 * 5);
    flex: 0 0 calc(100% / 12 * 5);
  }

  .column-m-6 {
    max-width: calc(100% / 12 * 6);
    -ms-flex: 0 0 calc(100% / 12 * 6);
    -webkit-flex: 0 0 calc(100% / 12 * 6);
    flex: 0 0 calc(100% / 12 * 6);
  }

  .column-m-7 {
    max-width: calc(100% / 12 * 7);
    -ms-flex: 0 0 calc(100% / 12 * 7);
    -webkit-flex: 0 0 calc(100% / 12 * 7);
    flex: 0 0 calc(100% / 12 * 7);
  }

  .column-m-8 {
    max-width: calc(100% / 12 * 8);
    -ms-flex: 0 0 calc(100% / 12 * 8);
    -webkit-flex: 0 0 calc(100% / 12 * 8);
    flex: 0 0 calc(100% / 12 * 8);
  }

  .column-m-9 {
    max-width: calc(100% / 12 * 9);
    -ms-flex: 0 0 calc(100% / 12 * 9);
    -webkit-flex: 0 0 calc(100% / 12 * 9);
    flex: 0 0 calc(100% / 12 * 9);
  }

  .column-m-10 {
    max-width: calc(100% / 12 * 10);
    -ms-flex: 0 0 calc(100% / 12 * 10);
    -webkit-flex: 0 0 calc(100% / 12 * 10);
    flex: 0 0 calc(100% / 12 * 10);
  }

  .column-m-11 {
    max-width: calc(100% / 12 * 11);
    -ms-flex: 0 0 calc(100% / 12 * 11);
    -webkit-flex: 0 0 calc(100% / 12 * 11);
    flex: 0 0 calc(100% / 12 * 11);
  }

  .column-m-12 {
    max-width: 100%;
    -ms-flex: 0 0 100%;
    -webkit-flex: 0 0 100%;
    flex: 0 0 100%;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .column-l-1 {
    max-width: calc(100% / 12 * 1);
    -ms-flex: 0 0 calc(100% / 12 * 1);
    -webkit-flex: 0 0 calc(100% / 12 * 1);
    flex: 0 0 calc(100% / 12 * 1);
  }

  .column-l-2 {
    max-width: calc(100% / 12 * 2);
    -ms-flex: 0 0 calc(100% / 12 * 2);
    -webkit-flex: 0 0 calc(100% / 12 * 2);
    flex: 0 0 calc(100% / 12 * 2);
  }

  .column-l-3 {
    max-width: calc(100% / 12 * 3);
    -ms-flex: 0 0 calc(100% / 12 * 3);
    -webkit-flex: 0 0 calc(100% / 12 * 3);
    flex: 0 0 calc(100% / 12 * 3);
  }

  .column-l-4 {
    max-width: calc(100% / 12 * 4);
    -ms-flex: 0 0 calc(100% / 12 * 4);
    -webkit-flex: 0 0 calc(100% / 12 * 4);
    flex: 0 0 calc(100% / 12 * 4);
  }

  .column-l-5 {
    max-width: calc(100% / 12 * 5);
    -ms-flex: 0 0 calc(100% / 12 * 5);
    -webkit-flex: 0 0 calc(100% / 12 * 5);
    flex: 0 0 calc(100% / 12 * 5);
  }

  .column-l-6 {
    max-width: calc(100% / 12 * 6);
    -ms-flex: 0 0 calc(100% / 12 * 6);
    -webkit-flex: 0 0 calc(100% / 12 * 6);
    flex: 0 0 calc(100% / 12 * 6);
  }

  .column-l-7 {
    max-width: calc(100% / 12 * 7);
    -ms-flex: 0 0 calc(100% / 12 * 7);
    -webkit-flex: 0 0 calc(100% / 12 * 7);
    flex: 0 0 calc(100% / 12 * 7);
  }

  .column-l-8 {
    max-width: calc(100% / 12 * 8);
    -ms-flex: 0 0 calc(100% / 12 * 8);
    -webkit-flex: 0 0 calc(100% / 12 * 8);
    flex: 0 0 calc(100% / 12 * 8);
  }

  .column-l-9 {
    max-width: calc(100% / 12 * 9);
    -ms-flex: 0 0 calc(100% / 12 * 9);
    -webkit-flex: 0 0 calc(100% / 12 * 9);
    flex: 0 0 calc(100% / 12 * 9);
  }

  .column-l-10 {
    max-width: calc(100% / 12 * 10);
    -ms-flex: 0 0 calc(100% / 12 * 10);
    -webkit-flex: 0 0 calc(100% / 12 * 10);
    flex: 0 0 calc(100% / 12 * 10);
  }

  .column-l-11 {
    max-width: calc(100% / 12 * 11);
    -ms-flex: 0 0 calc(100% / 12 * 11);
    -webkit-flex: 0 0 calc(100% / 12 * 11);
    flex: 0 0 calc(100% / 12 * 11);
  }

  .column-l-12 {
    max-width: 100%;
    -ms-flex: 0 0 100%;
    -webkit-flex: 0 0 100%;
    flex: 0 0 100%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  .column-xl-1 {
    max-width: calc(100% / 12 * 1);
    -ms-flex: 0 0 calc(100% / 12 * 1);
    -webkit-flex: 0 0 calc(100% / 12 * 1);
    flex: 0 0 calc(100% / 12 * 1);
  }

  .column-xl-2 {
    max-width: calc(100% / 12 * 2);
    -ms-flex: 0 0 calc(100% / 12 * 2);
    -webkit-flex: 0 0 calc(100% / 12 * 2);
    flex: 0 0 calc(100% / 12 * 2);
  }

  .column-xl-3 {
    max-width: calc(100% / 12 * 3);
    -ms-flex: 0 0 calc(100% / 12 * 3);
    -webkit-flex: 0 0 calc(100% / 12 * 3);
    flex: 0 0 calc(100% / 12 * 3);
  }

  .column-xl-4 {
    max-width: calc(100% / 12 * 4);
    -ms-flex: 0 0 calc(100% / 12 * 4);
    -webkit-flex: 0 0 calc(100% / 12 * 4);
    flex: 0 0 calc(100% / 12 * 4);
  }

  .column-xl-5 {
    max-width: calc(100% / 12 * 5);
    -ms-flex: 0 0 calc(100% / 12 * 5);
    -webkit-flex: 0 0 calc(100% / 12 * 5);
    flex: 0 0 calc(100% / 12 * 5);
  }

  .column-xl-6 {
    max-width: calc(100% / 12 * 6);
    -ms-flex: 0 0 calc(100% / 12 * 6);
    -webkit-flex: 0 0 calc(100% / 12 * 6);
    flex: 0 0 calc(100% / 12 * 6);
  }

  .column-xl-7 {
    max-width: calc(100% / 12 * 7);
    -ms-flex: 0 0 calc(100% / 12 * 7);
    -webkit-flex: 0 0 calc(100% / 12 * 7);
    flex: 0 0 calc(100% / 12 * 7);
  }

  .column-xl-8 {
    max-width: calc(100% / 12 * 8);
    -ms-flex: 0 0 calc(100% / 12 * 8);
    -webkit-flex: 0 0 calc(100% / 12 * 8);
    flex: 0 0 calc(100% / 12 * 8);
  }

  .column-xl-9 {
    max-width: calc(100% / 12 * 9);
    -ms-flex: 0 0 calc(100% / 12 * 9);
    -webkit-flex: 0 0 calc(100% / 12 * 9);
    flex: 0 0 calc(100% / 12 * 9);
  }

  .column-xl-10 {
    max-width: calc(100% / 12 * 10);
    -ms-flex: 0 0 calc(100% / 12 * 10);
    -webkit-flex: 0 0 calc(100% / 12 * 10);
    flex: 0 0 calc(100% / 12 * 10);
  }

  .column-xl-11 {
    max-width: calc(100% / 12 * 11);
    -ms-flex: 0 0 calc(100% / 12 * 11);
    -webkit-flex: 0 0 calc(100% / 12 * 11);
    flex: 0 0 calc(100% / 12 * 11);
  }

  .column-xl-12 {
    max-width: 100%;
    -ms-flex: 0 0 100%;
    -webkit-flex: 0 0 100%;
    flex: 0 0 100%;
  }
}
