.LoginWrapper {
  width: 100%;
  height: 100%;
  background-color: #2bcf8a;
}

.BoxLogin {
  width: 500px;
  padding: 15px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -51.5%);
}

.BoxLogin .Brand {
  margin-bottom: 22px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

.BoxLogin .Brand h3 {
  font-weight: 400;
}

.InnerBoxLogin {
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.07);
}

.InnerBoxLogin .Head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1;
  padding: 15px 15px 13px;
  background-color: rgba(0, 0, 0, 0.05);
}

.InnerBoxLogin .Head h5,
.InnerBoxLogin .Head .CloseIcon {
  font-weight: 400;
}

.InnerBoxLogin .Head h5 span {
  margin-left: 10px;
}

.InnerBoxLogin .Body {
  padding: 15px;
}

.InnerBoxLogin .Body .InputWrapper {
  width: 100%;
  margin-bottom: 7.5px;
}

.InnerBoxLogin .Body .InputWrapper .SingleInput .Label,
.InnerBoxLogin .Body .InputWrapper .SingleInput .Value {
  padding-top: 7px;
  padding-bottom: 7px;
}

.InnerBoxLogin .Body .InputWrapper .SingleInput .Value {
  padding-left: 7.5px;
  color: rgba(0, 0, 0, 0.5);
}

.InnerBoxLogin .Body .InputWrapper .SingleInput .Value input[type="text"],
.InnerBoxLogin .Body .InputWrapper .SingleInput .Value input[type="password"] {
  width: 100%;
  border-radius: 5px;
  padding: 6px;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.InnerBoxLogin .Body .InputWrapper .SingleInput .Value .PasswordValue {
  margin-bottom: 5px;
  border: 0;
}

.InnerBoxLogin
  .Body
  .InputWrapper
  .SingleInput
  .Value
  #LoginTampilkanKataSandi {
  margin-right: 6px;
}

.InnerBoxLogin .Body .InputWrapper .SingleInput .SubmitArea .LoginButton {
  width: 120px;
  height: 40px;
  text-align: center;
  border-radius: 5px;
  border: 0;
  color: #fff;
  background-color: rgba(43, 207, 138, 0.8);
  cursor: pointer;
  font-size: 1em;
  transition: 0.4s ease-in-out;
}

.InnerBoxLogin .Body .InputWrapper .SingleInput .SubmitArea .LoginButton:hover {
  background-color: rgba(43, 207, 138, 1);
}

.InnerBoxLogin .Body .InputWrapper .SingleInput .SubmitArea .LoginButton span {
  margin-left: 7px;
}
