/* 
    ################
    BACKGROUND COLOR
    ################
*/

/* white */
.bg-c1{
    background-color: #ffffff;
}
/* black */
.bg-c2{
    background-color: #000000;
}
/* red */
.bg-c3{
    background-color: #ff0000;
}
/* green */
.bg-c4{
    background-color: #2BCF8A;
}
/* light grey */
.bg-c5{
    background-color: #F1F4FB;
}
/* dark grey */
.bg-c6{
    background-color: #788782;
}

/* 
    ############
    BORDER COLOR 
    ############
*/

/* black */
.bd-c1{
    border-color: #000000;
}
/* red */
.bd-c2{
    border-color: #ff0000;
}
/* green */
.bd-c3{
    border-color: #2BCF8A;
}
/* light grey */
.bd-c4{
    border-color: #F1F4FB;
}
/* dark grey */
.bd-c5{
    border-color: #788782;
}

/* 
    ##########
    TEXT COLOR
    ##########
*/

/* white */
.tx-c1{
    color: #F1F4FB;
}
/* black */
.tx-c2{
    color: #000000;
}
/* red */
.tx-c3{
    color: #ff0000;
}
/* green */
.tx-c4{
    color: #2BCF8A;
}
/* light grey */
.tx-c5{
    color: #F1F4FB;
}
/* dark grey */
.tx-c6{
    color: #788782;
}