.Sidebar {
  width: 250px;
  height: 100%;
  overflow-y: auto;
  color: #555;
  background-color: #fff;
  opacity: 0;
  transform: translateX(-100%);
  transition: 0.4s ease-in-out;
}

.Sidebar.Active {
  opacity: 1;
  transform: translateX(0);
}
